[submodule "helpers"]
	path = helpers
	url = https://github.com/johanneskastl/helpers.git
[submodule "ansible/roles/johanneskastl.create_a_vimrc"]
	path = ansible/roles/johanneskastl.create_a_vimrc
	url = https://github.com/johanneskastl/ansible-role-create_a_vimrc.git
[submodule "ansible/roles/johanneskastl.install_one_or_more_packages"]
	path = ansible/roles/johanneskastl.install_one_or_more_packages
	url = https://github.com/johanneskastl/ansible-role-install_one_or_more_packages.git
[submodule "ansible/roles/johanneskastl.minimal_bashrc"]
	path = ansible/roles/johanneskastl.minimal_bashrc
	url = https://github.com/johanneskastl/ansible-role-minimal_bashrc.git
[submodule "ansible/roles/johanneskastl.reboot"]
	path = ansible/roles/johanneskastl.reboot
	url = https://github.com/johanneskastl/ansible-role-reboot.git
[submodule "ansible/roles/linux-system-roles.postgresql"]
	path = ansible/roles/linux-system-roles.postgresql
	url = https://github.com/linux-system-roles/postgresql.git
[submodule "ansible/roles/geerlingguy.redis"]
	path = ansible/roles/geerlingguy.redis
	url = https://github.com/geerlingguy/ansible-role-redis.git
[submodule "ansible/roles/johanneskastl.minimal_tmux_configuration"]
	path = ansible/roles/johanneskastl.minimal_tmux_configuration
	url = https://github.com/johanneskastl/ansible-role-minimal_tmux_configuration.git
[submodule "ansible/roles/jvoss.netbox"]
	path = ansible/roles/jvoss.netbox
	url = https://github.com/jvoss/ansible-role-netbox
[submodule "ansible/roles/caddy_ansible.caddy_ansible"]
	path = ansible/roles/caddy_ansible.caddy_ansible
	url = https://github.com/caddy-ansible/caddy-ansible.git
[submodule "ansible/roles/johanneskastl.simple_firewalld_configuration"]
	path = ansible/roles/johanneskastl.simple_firewalld_configuration
	url = https://github.com/johanneskastl/ansible-role-simple_firewalld_configuration
